
<!--Footer-->
<footer>
    <div class="bg-dark">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-6 col-lg-5 text-md-left mb-4 mb-md-0">
                    <h6 class="footer-first-text mb-0"><strong>Participer aux Gossips du Hacking Project!</strong></h6>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>The Hacking Project</strong>
                </h6>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p> Projet du vendredi de la seconde semaine de Ruby on Rails. Le developpement de ce site est réalisé à l'aide de Ruby, Ruby On Rails et Bootstrap. La particularité de ce projet est l'utilisation de la gem Devise.</p>
            </div>

            <!--Second column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Liens utiles</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://www.thehackingproject.org/">The Hacking Project</a>
                </p>
                <p>
                    <a href="https://www.thehackingproject.org/contact">Contact</a>
                </p>
                <p>
                    <a href="https://github.com/MatthieuL78">Github du projet</a>
                </p>
            </div>

            <!--Third column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-envelope "></i> bonjour@thehackingproject.org </p>
                <p>
                    <i class="fa fa-phone "></i> +33 6 95 46 60 80</p>
                <p>
                    <i class="fa fa-print "></i> +33 6 28 01 33 40</p>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/">
            <strong> MDBootstrap.com</strong>
        </a>
    </div>
    <!--/.Copyright -->
</footer>
<!--/.Footer-->
